

<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/home']">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
    </ion-button>
    
    </ion-buttons>
    <ion-avatar slot="start">
      <img src="../../assets/img/whatsaap.jpeg" alt="Avatar">
    </ion-avatar>
    <ion-title>Manful</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="call-outline"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="videocam-outline"></ion-icon>
      </ion-button>
      <ion-button> <ion-icon name="ellipsis-vertical-outline"></ion-icon></ion-button>
     
    </ion-buttons>
  </ion-toolbar>
</ion-header> 




<ion-content class="ion-padding">

  <ion-card class="sent">
    <ion-card-content>Hello how are you</ion-card-content>
    <ion-icon name="checkmark-done-outline" color="primary"></ion-icon>
  </ion-card>

  <ion-card class="received">
    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit.
      <span class="time">12:45 PM</span>
    </ion-card-content>
  </ion-card>


  <ion-card class="sent">
    <ion-card-content>Hello how are you</ion-card-content>
    <ion-icon name="checkmark-done-outline" color="primary"></ion-icon>
  </ion-card>

  <ion-card class="received">
    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit.
      <span class="time">12:45 PM</span>
    </ion-card-content>
  </ion-card>


  <ion-card class="sent">
    <ion-card-content>Hello how are you</ion-card-content>
    <ion-icon name="checkmark-done-outline" color="primary"></ion-icon>
  </ion-card>

  <ion-card class="received">
    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit.
      <span class="time">12:45 PM</span>
    </ion-card-content>
  </ion-card>

  
  <ion-card class="sent">
    <ion-card-content>Hello how are you</ion-card-content>
    <ion-icon name="checkmark-done-outline" color="primary"></ion-icon>
  </ion-card>

  <ion-card class="received">
    <ion-card-content>
      Cum voluptates minus corrupti.
      <span class="time">12:45 PM</span>
    </ion-card-content>
  </ion-card>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="clear">
        <ion-icon slot="icon-only" name="happy-outline"></ion-icon>
      </ion-button>
      <ion-button fill="clear">
        <ion-icon slot="icon-only" name="attach-outline"></ion-icon>
      </ion-button>
      <ion-button fill="clear">
        <ion-icon slot="icon-only" name="camera-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-input placeholder="Type a message..."></ion-input>
    <ion-buttons slot="end">
      <ion-button fill="clear">
        <ion-icon slot="icon-only" name="mic-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
