

  
/* chat pages starrt*/


ion-header {
    --background: #075E54;
}

ion-toolbar {
    --padding-start: 10px;
}

ion-avatar {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

ion-title {
    font-weight: bold;
    color: #ffffff;
}

ion-icon {
    font-size: 25px;
}

.ion-color-primary {
    --ion-color-base: #128C7E !important;
    --ion-color-base-rgb: var(
  --ion-color-primary-rgb, 56, 128, 255) !important;
    --ion-color-contrast: #ffffff !important;
    --ion-color-contrast-rgb: var(
  --ion-color-primary-contrast-rgb, 255, 255, 255) !important;
    --ion-color-shade: #222428 !important;
    --ion-color-tint: #989aa2 !important;
}









ion-content {
    background-color: #f4f4f4;
}


.sent {
    background-color: #383a3e21;;
    color: black;
    border-radius: 7px 7px 0 7px; 
    margin: 8px 5px 8px auto;
    padding: 8px 14px;
    display: inline-block;  position: relative; 
  
   
}

.sent ion-icon {
    position: absolute;
    right: 5px;
    bottom: 2px;
    font-size: 12px; 
}


.received {
    background-color: #FFFFFF;
    color: black;
    border-radius: 7px 7px 7px 0; 
    margin: 8px auto 8px 5px;
    padding: 8px 14px;
    display: inline-block; 
  
    position: relative; 
}

.time {
    font-size: 10px;
    position: absolute;
    bottom: 2px;
    color: grey; 
}

.received .time {
    left: 5px; 
}

.sent .time {
    right: 5px;
    color: white;
}
