
<!-- status -->

   <ion-header>
  <ion-toolbar color="primary">
    <ion-title>WhatsApp</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="camera-outline" color="light"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon name="search" color="light"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon name="ellipsis-vertical-outline" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar color="primary">
    <ion-segment mode="md" color="light">
    
      <ion-segment-button value="chat" checked defaultHref="main-home">
        Chat
      </ion-segment-button>
      <ion-segment-button value="status" defaultHref="status">
        Status
      </ion-segment-button>
      <ion-segment-button value="calls" defaultHref="callpage">
        Call
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-avatar slot="start">
      <img src="../../assets/img/Rectangle 23.png">
    </ion-avatar>
    <ion-label>
      <h2>My Status</h2>
      <p>Tap to add status update</p>
    </ion-label>
  </ion-item>


  <ion-list-header>
    <ion-label>Recent Updates</ion-label>
  </ion-list-header>
  <ion-item>
    <ion-avatar slot="start">
      <img src="../../assets/img/whatsaap.jpeg">
    </ion-avatar>
    <ion-label>
      <h2>dhrumil</h2>
      <p>5 minutes ago</p>
    </ion-label>
  </ion-item>


  <ion-item>
    <ion-avatar slot="start">
      <img src="../../assets/img/2.jpg">
    </ion-avatar>
    <ion-label>
      <h2>Parth</h2>
      <p>2 minutes ago</p>
    </ion-label>
  </ion-item>



  <ion-item>
    <ion-avatar slot="start">
      <img src="../../assets/img/whatsaap.jpeg">
    </ion-avatar>
    <ion-label>
      <h2>Keyur</h2>
      <p>1 minutes ago</p>
    </ion-label>
  </ion-item>


  <ion-item>
    <ion-avatar slot="start">
      <img src="../../assets/img/Rectangle 23.png">
    </ion-avatar>
    <ion-label>
      <h2>Nirav</h2>
      <p>2 minutes ago</p>
    </ion-label>
  </ion-item>


  <ion-item>
    <ion-avatar slot="start">
      <img src="../../assets/img/whatsaap.jpeg">
    </ion-avatar>
    <ion-label>
      <h2>Manful</h2>
      <p>5 minutes ago</p>
    </ion-label>
  </ion-item>


  <ion-item>
    <ion-avatar slot="start">
      <img src="../../assets/img/2.jpg">
    </ion-avatar>
    <ion-label>
      <h2>Pravin</h2>
      <p>2 minutes ago</p>
    </ion-label>
  </ion-item>


  
  <ion-item>
    <ion-avatar slot="start">
      <img src="../../assets/img/Rectangle 23.png">
    </ion-avatar>
    <ion-label>
      <h2>Yash</h2>
      <p>2 minutes ago</p>
    </ion-label>
  </ion-item>


  
  <ion-item>
    <ion-avatar slot="start">
      <img src="../../assets/img/whatsaap.jpeg">
    </ion-avatar>
    <ion-label>
      <h2>Dhanraj</h2>
      <p>2 minutes ago</p>
    </ion-label>
  </ion-item>


  
  <ion-item>
    <ion-avatar slot="start">
      <img src="../../assets/img/2.jpg">
    </ion-avatar>
    <ion-label>
      <h2>Yashpal</h2>
      <p>2 minutes ago</p>
    </ion-label>
  </ion-item>

  
  <ion-item>
    <ion-avatar slot="start">
      <img src="../../assets/img/2.jpg">
    </ion-avatar>
    <ion-label>
      <h2>Pravin</h2>
      <p>2 minutes ago</p>
    </ion-label>
  </ion-item>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="camera-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content> 

<!-- status and -->

