

<!-- call start -->

  <ion-header>
  <ion-toolbar color="primary">
    <ion-title>WhatsApp</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="search" color="light"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon name="ellipsis-vertical-outline" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar color="primary">
    <ion-segment mode="md" color="light">
      <ion-segment-button value="chat" checked defaultHref="main-home">
        Chat
      </ion-segment-button>
      <ion-segment-button value="status"defaultHref="status">
        Status
      </ion-segment-button>
      <ion-segment-button value="calls" defaultHref="callpage">
        Call
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>

   
    <ion-item>
      <ion-avatar slot="start">
        <img src="../../assets/img/Rectangle 23.png">
      </ion-avatar>
      <ion-label>
        <h2>Yash</h2>
        <ion-icon name="call-received-outline" color="red"></ion-icon>
        <p>Missed Call - 2 minutes ago</p>
      </ion-label>
      <ion-buttons slot="end">
        <ion-button>
          <ion-icon name="call-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>


    <ion-item>
      <ion-avatar slot="start">
        <img src="../../assets/img/2.jpg">
      </ion-avatar>
      <ion-label>
        <h2>manful</h2>
        <ion-icon name="call-received-outline" color="red"></ion-icon>
        <p>Missed Call - 1 minutes ago</p>
      </ion-label>
      <ion-buttons slot="end">
        <ion-button>
          <ion-icon name="call-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>



    <ion-item>
      <ion-avatar slot="start">
        <img src="../../assets/img/whatsaap.jpeg">
      </ion-avatar>
      <ion-label>
        <h2>keyu</h2>
        <ion-icon name="call-received-outline" color="red"></ion-icon>
        <p>Missed Call - 5 minutes ago</p>
      </ion-label>
      <ion-buttons slot="end">
        <ion-button>
          <ion-icon name="call-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>



    <ion-item>
      <ion-avatar slot="start">
        <img src="../../assets/img/Rectangle 23.png">
      </ion-avatar>
      <ion-label>
        <h2>dhrumil</h2>
        <ion-icon name="call-received-outline" color="red"></ion-icon>
        <p>Missed Call - 2 minutes ago</p>
      </ion-label>
      <ion-buttons slot="end">
        <ion-button>
          <ion-icon name="call-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>


    <ion-item>
      <ion-avatar slot="start">
        <img src="../../assets/img/whatsaap.jpeg">
      </ion-avatar>
      <ion-label>
        <h2>parth</h2>
        <ion-icon name="call-received-outline" color="red"></ion-icon>
        <p>Missed Call - 2 minutes ago</p>
      </ion-label>
      <ion-buttons slot="end">
        <ion-button>
          <ion-icon name="call-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>


    <ion-item>
      <ion-avatar slot="start">
        <img src="../../assets/img/2.jpg">
      </ion-avatar>
      <ion-label>
        <h2>nirav</h2>
        <ion-icon name="call-received-outline" color="red"></ion-icon>
        <p>Missed Call - 12 minutes ago</p>
      </ion-label>
      <ion-buttons slot="end">
        <ion-button>
          <ion-icon name="call-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>

   

  </ion-list>
<ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="call-outline" color="light"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>  

<!-- call and -->


