ion-toolbar {
    --ion-color-primary: #075E54;
  }
  
  ion-segment-button {
    --ion-color-light: #ECE5DD;
    --ion-segment-button-checked-background: #075E54;
    --ion-segment-button-checked-color: #ECE5DD;
  }
  
  
  ion-segment[_ngcontent-ng-c3489566202] {
    --background: rgba(255, 255, 255, 0.2);
    --indicator-color: #ffffff;
    --color: #ffffff;
    border-radius: 5px;
   


  }


  ion-segment-button.md.in-toolbar.in-toolbar-color.in-segment.in-segment-color.segment-button-layout-icon-top.ion-activatable.ion-activatable-instant.ion-focusable.hydrated {
    color: aliceblue;
}
  .ion-color-primary {
    --ion-color-base: #128C7E !important;
    --ion-color-base-rgb: var(
  --ion-color-primary-rgb, 56, 128, 255) !important;
    --ion-color-contrast: #ffffff !important;
    --ion-color-contrast-rgb: var(
  --ion-color-primary-contrast-rgb, 255, 255, 255) !important;
    --ion-color-shade: #222428 !important;
    --ion-color-tint: #989aa2 !important;
}
  
  // ion-content {
  //   --ion-background-color: #ECE5DD;
  // }
  
  ion-fab-button {
    --background: #25D366; 
    --box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  }
  
  ion-icon[name="add"] {
    --color: #ffffff;
    --font-size: 28px;
  }
  
  