

<!--  chat pages -->


<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-button>
          <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-avatar slot="start">
        <img src="../../assets/img/whatsaap.jpeg" alt="Avatar">
      </ion-avatar>
      <ion-title>Manful</ion-title>
      <ion-buttons slot="end">
        <ion-button>
          <ion-icon slot="icon-only" name="call-outline"></ion-icon>
        </ion-button>
        <ion-button>
          <ion-icon slot="icon-only" name="videocam-outline"></ion-icon>
        </ion-button>
        <ion-button> <ion-icon name="ellipsis-vertical-outline"></ion-icon></ion-button>
       
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  
    <ion-content class="ion-padding">
      <div class="chat-container">
      
        <div class="message sent">
          Hello how are you
          <div class="metadata">
            <ion-icon name="checkmark-done-outline" color="primary"></ion-icon>
          </div>
        </div></div>
  
      <div class="message received">
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
        <div class="metadata">
          <span class="time">12:45 PM</span></div></div>
  
  
          <div class="chat-container">
      
            <div class="message sent">
              Hello how are you
              <div class="metadata">
                <ion-icon name="checkmark-done-outline" color="primary"></ion-icon>
              </div>
            </div></div>
    
          <div class="message received">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            <div class="metadata">
              <span class="time">12:45 PM</span></div></div>
  
              
              <div class="chat-container">
      
                <div class="message sent">
                  Hello how are you
                  <div class="metadata">
                    <ion-icon name="checkmark-done-outline" color="primary"></ion-icon>
                  </div>
                </div></div>
        
              <div class="message received">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                <div class="metadata">
                  <span class="time">12:45 PM</span></div></div>
  
                  
  
                  <div class="chat-container">
      
                    <div class="message sent">
                      Hello how are you
                      <div class="metadata">
                        <ion-icon name="checkmark-done-outline" color="primary"></ion-icon>
                      </div>
                    </div></div>
            
                  <div class="message received">
                    Cum voluptates minus corrupti.
                    <div class="metadata">
                      <span class="time">12:45 PM</span></div></div>
            
  
  </ion-content>
  
  
  <ion-footer>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button fill="clear">
          <ion-icon slot="icon-only" name="happy-outline"></ion-icon>
        </ion-button>
        <ion-button fill="clear">
          <ion-icon slot="icon-only" name="attach-outline"></ion-icon>
        </ion-button>
        <ion-button fill="clear">
          <ion-icon slot="icon-only" name="camera-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-input placeholder="Type a message..."></ion-input>
      <ion-buttons slot="end">
        <ion-button fill="clear">
          <ion-icon slot="icon-only" name="mic-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-footer>  
  
  
  <!--  chat pages and -->